#slides, #slides_1, #slides_2, #slides_3, #slides_4, #slides_5 {

  .slidesjs-pagination {
    text-align: center;

    li {
      width:12px;
      height: 12px;
      margin: 0 5px;
      padding: 0;
      display: inline-block;

      &:first-child,{
        margin-left: 0;
      }
      &:last-child,{
        margin-right: 0;
      }

      a {
        width:            12px;
        height:           12px;
        float:            left;
        display:          block;
        background: rgba($gray,0.5);
        color: transparent;

        &.active {
          cursor:default;
          background-color: $gray;
        }
      }
    }
  }
  .slidesjs-navigation {
    display: none;
  }

  .slidesjs-container {
    margin-bottom: 10px;

    ul {

      li {
        display: inline-block;
        padding: 10px;
        width: 120px;
        height: 156px;
        margin: 0 11px;
        vertical-align: top;

        &:first-child,{
          margin-left: 0;
        }
        &:last-child,{
          margin-right: 0;
        }

        &:hover {
          a {
            visibility: visible;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
        .theme {
          color: white;
          text-decoration: none;
          visibility: hidden;
          background-color: rgba(red,0.8);
          text-align: center;
          height: 100px;
          display: block;
          font-size: 10pt;
          font-weight: bold;
          padding: 10px;
          line-height: 11pt;
          cursor: pointer;

           span {
            text-transform: uppercase;
            font-size: 7.5pt;
            display: block;
            margin-bottom: 10px;
          }
          &.small {
            font-size: 9pt !important;
          }
        }
        .speaker_name {
          font-size: 10pt;
          text-transform: uppercase;
          position: absolute;
          top: 146px;
          left: 0;
        }
      }
    }
  }
}